<md-chip-list mdPrefix #tagList>
    <md-chip md-chips-wrap *ngFor="let tag of tags" [selectable]="selectable"
            [removable]="removable" (remove)="remove(tag)">
    {{tag.name}}
    <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
    </md-chip>
    
    <md-chip class="add-tag-btn" (click)="showAddButton = !showAddButton" *ngIf="showAddButton" 
        [selectable]="false" [removable]="false">+</md-chip>
    <input class="tag-input" *ngIf="!showAddButton" placeholder="New tag..."
        [mdChipInputFor]="tagList"
        [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [mdChipInputAddOnBlur]="addOnBlur"
        (mdChipInputTokenEnd)="add($event)" />
</md-chip-list>
