.search {   
    float: left;    
    width: 280px;   
    margin: 15px 5px 5px 5px;
    border-right: 1px solid black; 
}

.content {    
    margin-top: 5px;
    overflow-y: auto;
}

.search-nav {
    margin: 5px 2px 5px 7px;
}

.paste-input {
    width: 330px;
    margin-left: 10px;
    padding-left: 2px;
    margin-bottom: 10px;
}


.drop-zone {
    background-color: #C3C7CC;
    border: 1px solid gray;
    width: 315px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
