

  <div class="search" *ngIf="showSearch">
    <giphy-search></giphy-search>
  </div>

  <div class="content">
    <button type="button" class="small-btn search-nav" md-button (click)="showSearch = !showSearch">
      Search
    </button>
    <div style="display: inline-block">
      <input class="tag-input"  placeholder="Filter giphies" [(ngModel)]="filterText" (ngModelChange)="filterGiphies($event)" />
      <span [hidden]=!imageCopied>Giphy url copied!</span>
      <span>({{filteredGiphies ? filteredGiphies.length : 0}})</span>
    </div>

    <div class="container drop-zone" (drop)="drop($event)" (dragover)="allowDrop($event)">
      Drop images here!
    </div>
    <div>
      <input class="paste-input" placeholder="Paste url to add" [(ngModel)]="pastedUrl" (change)="pastedGiphyUrl($event)" />
    </div>
       
    <div fxLayout="row" fxLayoutWrap>  
      <span *ngFor="let giphy of filteredGiphies">
        <giphy-card [giphy]="giphy" (giphyCopied)="onGiphyCopied($event)" (giphyDeleted)="onGiphyDeleted($event)"></giphy-card>
      </span>
    </div>

  </div>


