
.giphy-item {
    min-height: 75px;
    min-width: 100px;
    max-height: 150px;
    max-width: 200px;
    cursor: pointer;
}

.sidenav-content {
    background-color: lightgray;
}

.search {
    margin: 5px 5px 5px 5px;
}

.search-nav {
    margin: 5px 2px 5px 7px;
}

.mat-raised-button {
    padding: 0 8px;
}

.search-text {
    width: 100px;
    height: 20px;
}

.tag-input {
    width: 220px;
    margin-left: 5px;
    padding-left: 2px;
}

.paste-input {
    width: 330px;
    margin-left: 10px;
    padding-left: 2px;
    margin-bottom: 10px;
}

md-card {
    margin: 5px;
    padding: 10px 15px 22px 15px;    

    .click-count {
        font-style: italic;
    }
}

.mat-button {
    padding: 0 5px;    
}

.mat-card-actions {
    margin-left: 1px;
    margin-right: 1px;
    max-width: 200px;
}

.drop-zone {
    background-color: #C3C7CC;
    border: 1px solid gray;
    width: 315px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
