
.giphy-item {
    min-height: 150px;
    min-width: 150px;
    max-height: 250px;
    max-width: 350px;
    cursor: pointer;
}

.search {
    margin: 5px 2px 5px 2px;

    input {
        width: 200px;
        height: 20px;
    }
}

md-card {
    margin: 5px;
    padding: 10px 15px 22px 15px;    

    .click-count {
        font-style: italic;
    }
}

.drop-zone {
    background-color: #C3C7CC;
    border: 1px solid gray;
    width: 315px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
